
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

header, footer {
    background-color: #121f26;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 2rem;
    max-width: 900px;
    margin: auto;
}

h1, h2, h3 {
    color: #222;
}

.project {
    margin-bottom: 2rem;
}

.name {
    color: rgb(251, 254, 254);
}
