:root {
    --primary-color: #ffe6cb;
    --secondary-color: #0ea5e9;
    --accent-color: #68546c;
    --text-color: #1a1a1a;
    --background-color: #f8ebdb;
}


body {
    margin: 0;
    font-family: Calibri, system-ui, Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.4;
}

header, footer {
    background-color: var(--primary-color);
    color: #1a1a1a;
    padding: 1rem;
    text-align: center;
    line-height: 1.2;
}

nav a {
    display: inline-block;
    color: var(--text-color);
    font-size: 1.1rem;
    margin: 0 2rem;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.2s ease, text-shadow 0.2s ease;
}

nav a:hover {
    text-decoration: underline;
    color: var(--accent-color);
    /*text-shadow: 0 0 5px rgba(0,0,0,0.1);*/
}

main {
    padding: 2rem;
    max-width: 900px;
    margin: auto;
}

h1, h2, h3 {
    color: #222;
}

.project {
    margin-bottom: 2rem;
}

.name {
    color: var(--text-color);
    font-size: 50px;
}
